.container_arrow{
    position: relative;
    padding: 5px;
    overflow: hidden;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;

    .arrow{
        cursor: pointer;
    }

    .disable{
        position: relative;
        left: -150%;
    }
}